.notFound {
  height: 100vh;
  background-image: url("https://e0.pxfuel.com/wallpapers/441/344/desktop-wallpaper-page-not-found-404-not-found.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 30rem;
  }
}
